::ng-deep .cdk-overlay-container {
  position: fixed;
  z-index: 1050;
}

.star {
  font-size: 1.5rem;
  color: #b0c4de;
}

.filled {
  color: #1e90ff;
}

.bad {
  color: #deb0b0;
}

.filled.bad {
  color: #ff1e1e;
}

.textArea {
  height: 125px;
}
